@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --darkt: #FFD1F7;
  --lightbg: #fff;
  
  --toggleHeight: 8em;
  --toggleWidth: 15em;
  --toggleBtnRadius: 5em;

  --toggleBtn-bgColor--night: var(--bgColor--night);
  --mooncolor: #D9FBFF;
  --bgColor--day: #9ee3fb;
  --toggleBtn-bgColor--day: var(--bgColor--day);
}


.light{
  background: var(--lightbg);
  color: var(--lightt);
}
.tdnn {
  margin: 0 auto;
  transform:  scale(0.7);
  /*change size of toggle with font-size*/
  font-size: 30%;
   position: relative;
    height: var(--toggleHeight);
    width: var(--toggleWidth);
    border-radius: var(--toggleHeight);
  transition: all 500ms ease-in-out;
  background: var(--bgColor--night);
}

.moon {
  position: absolute;
  display: block;
  border-radius: 50%;
  transition: all 400ms ease-in-out;
  
  top: 1.5em;
  left: 1.5em;
  transform: rotate(-75deg);
  width: var(--toggleBtnRadius);
  height: var(--toggleBtnRadius);
  background: var(--bgColor--night);
  box-shadow: 
    1.5em 1.25em 0 0em var(--mooncolor) inset,
    rgba(255, 255, 255, 0.1) 0em -3.5em 0 -2.25em,
    rgba(255, 255, 255, 0.1) 3em 3.5em 0 -2.25em,
    rgba(255, 255, 255, 0.1) 1em 6.5em 0 -2em,
    rgba(255, 255, 255, 0.1) 6em 1em 0 -2.1em,
    rgba(255, 255, 255, 0.1) 4em 4em 0 -2.25em,
    rgba(255, 255, 255, 0.1) 3em 6.5em 0 -2.25em,
    rgba(255, 255, 255, 0.1) -2em 3.5em 0 -2.25em,
    rgba(255, 255, 255, 0.1) -1em 5em 0 -2.25em;
}
.sun {
  top: 2.25em;
  left: 9em;
  transform: rotate(0deg);
  width:3.5em;
  height: 3.5em;
  background: #FFBF71;
  box-shadow: 1.5em 1.5em 0 2.5em #FFBF71 inset,
    0 -2.5em 0 -1.2em #FFBF71,
    1.75em -1.75em 0 -1.5em #FFBF71,
    2.5em 0 0 -1.35em #FFBF71,
    1.75em 1.75em 0 -1.5em #FFBF71,
    0 2.5em 0 -1.35em #FFBF71,
    -1.75em 1.75em 0 -1.5em #FFBF71,
    -2.5em 0 0 -1.35em #FFBF71,
    -1.75em -1.75em 0 -1.5em #FFBF71;
}
.boxShadow {
  -webkit-box-shadow: 11px 3px 70px -14px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 11px 3px 70px -14px rgba(34, 60, 80, 0.2);
  box-shadow: 11px 3px 70px -14px rgba(34, 60, 80, 0.2);
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the page takes up at least the full viewport height */
}

main {
  flex: 1; /* Allows the main content to expand to fill the remaining space */
}